doctype html
html(lang="ru")
    head
        include mixin/meta
        title ACCOUNT PAGE
        include mixin/styles
    body.account
        include mixin/mixin
        include header/header
        main
            .wrapper
                include account/account
        include footer/footer
        include mixin/modals
        include mixin/scripts