doctype html
html(lang="ru")
    head
        include mixin/meta
        title INDEX
        include mixin/styles
    body
        //include mixin/mixin
        .wrapper
            h1 hello world!!
            .icon-search
            .icon-dd-arrow
    script(src="./js/main.min.js" defer)