doctype html
html(lang="en")
    head
        include mixin/meta
        title INDEX
        include mixin/styles
    body
        //include mixin/mixin
        h1 hello world!!

    script(src="./js/main.min.js" defer)