doctype html
html(lang="ru")
    head
        include mixin/meta
        title PRODUCT CARD
        include mixin/styles
    body.product-card
        include mixin/mixin
        include header/header
        main
            .wrapper
                include product-card/product-card
        include footer/footer
        include mixin/modals
        include mixin/scripts
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer)
    script(src="/js/product-card.min.js" defer)