meta(charset='UTF-8')
meta(name='format-detection' content='telephone=no')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name="theme-color" content="#ffffff")
//// work-sans-300 - latin
//link(rel="preload" href="fonts/WorkSans/work-sans-v3-latin-300.woff2" as="font" type="font/woff2" crossorigin="anonymous")
//link(rel="preload" href="fonts/WorkSans/work-sans-v3-latin-300.woff" as="font" type="font/woff" crossorigin="anonymous")
//link(rel="preload" href="fonts/WorkSans/work-sans-v3-latin-300.ttf" as="font" type="font/ttf" crossorigin="anonymous")
//link(rel="preload" href="fonts/WorkSans/work-sans-v3-latin-300.svg#WorkSans" as="font" crossorigin="anonymous")