- var selectOptions = ['Популярость', 'Возрастание цены', 'Убывание цены', 'КРЫМ НАШ!!1']
- var navigation = ['Адрес Доставки', 'Доставка', 'Оплата']

.uikit-page__content
    .uikit-page__row
        .uikit-page__column
            +button(false, 'uikit-page__button', 'default')
            +button(false, 'uikit-page__button clicked', 'clicked')
            +button(false, 'uikit-page__button', 'deisabled', true)
        .uikit-page__column
            +button(true, 'uikit-page__button', 'default')
            +button(true, 'uikit-page__button clicked', 'clicked')
            +button(true, 'uikit-page__button', 'deisabled', true)
        .uikit-page__column
            +input('uikit-page__input', 'email', 'example@gmail.com')
            +input('uikit-page__input', 'enter ur password', 'password', true)
            +input('uikit-page__input', 'enter ur password', 'password', true, true)
        .uikit-page__column
            +input('uikit-page__input', 'email', 'example@gmail.com', false, false, true)
            +input('uikit-page__input', 'enter ur password', 'password', true, false, true)
        .uikit-page__column
            +checkbox('uikit-page__checkbox', 'r u gay?', 'uikit-checkbox-1', false)
            +checkbox('uikit-page__checkbox', 'r u slave?', 'uikit-checkbox-2', true)
            +select('uikit-page__select',selectOptions)
        .uikit-page__column
            .uikit-page__link.link Мужское
            .uikit-page__link.link.active Женское
            +radioColor('uikit-page__radio', '#aaa', 'test-color', 'color1', true)
            +radioColor('uikit-page__radio', '#ea1313', 'test-color', 'color2')
            +radioColor('uikit-page__radio', '#fff', 'test-color', 'color3')
            +radioSize('uikit-page__radio', 'l', 'test-size', 'size1', true)
            +radioSize('uikit-page__radio', 'xl', 'test-size', 'size2')
        .uikit-page__column
            +buttonCustomized('uikit-page__customized-btn', 'icon-fav', 'Нравится', 3)
            +buttonCustomized('uikit-page__customized-btn', 'icon-message', 'Коментарии', 2)
            +buttonCustomized('uikit-page__customized-btn', 'icon-share', 'Поделиться')
        .uikit-page__column
            +listingItem('uikit-page__listing-item', 'Экспертный продавец', 'icon-medal', 5, '/images/product_1.jpg', 'Burberry', 'Coat', 'XL', 'Прямая доставка', '12 345')
            +listingItem('uikit-page__listing-item', 'Экспертный продавец', 'icon-tick', 0, '/images/product_2.jpg', 'Burberry', 'Coat', 'L', 'Прямая доставка', '3 456')
        .uikit-page__column
            +customNavigation('uikit-page__custom-nav', navigation)
            +customNavigation('uikit-page__custom-nav', navigation, true)
        .uikit-page__column
            .uikit-page__tooltip.tooltip-parent Hover on me
                +tooltip('', 'This is tooltip')
            .uikit-page__open-modal.link.open-modal(target-id='test-modal') Click on me