.index{
  &__content{
    display: flex;
    flex-direction: column;
    padding-top: 44px;
  }

  &__sales{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color_Alabaster;
    border-radius: 5px;
    position: relative;
    padding: 17px 0;
    margin-bottom: 23px;

    &-title{
      font-family: $font_1;
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 58px;
      margin-bottom:15px;
      text-align: center;
    }

    &-body{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &-part{
        display: flex;
        margin: auto 0;
        width: Min(300px, 25%);
        justify-content: space-between;
        .promo-circle{
          &.hidden {
            width: 0px;
            height: 0px;
          }
        }
      }

      @include lil-screen {
        position: unset;
        width: 100%;
        margin-bottom: 15px;
        &-part{
          width: 50%;
          justify-content: space-around;
        }
        @include mobile {
          flex-direction: column;
          &-part{
            width: 100%;
            padding: 0 20px;
            .promo-circle{
              &.hidden {
                display: none;
              }
            }
            &:first-child{
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    &-notification{
      font-family: $font_2;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      width: Min(535px, 39%);
      @include lil-screen {
        width: 100%;
      }
    }
  }

  &__sec{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    &-title{
      font-family: $font_1;
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      margin-bottom: 60px;
    }

    &-content{
      margin-bottom: 69px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-btn{
      width: min-content;
      white-space: nowrap;
      margin: 0 auto;
    }

    &-item{
      margin: 20px auto 0;
      &:first-child{
        margin-top: 0;
      }
    }
  }
}