//variables

$color_Black: #151515;
$color_Red: #EB5757;
$color_Alabaster: #FAFAFA;
$color_MineShaft: #333333;
$color_Concrete: #f2f2f2;
$color_Crimson: #ea1313;
$color_Silver: #cac9c9;
$color_GraySuit: #D0C9D6;
$color_Concrete: #f2f2f2;

$font_1: 'Brygada 1918';
$font_2: 'Roboto', sans-serif;

*,
*::before,
*::after{
  box-sizing: border-box;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 18px;
  color: $color_Black;
  font-family: $font_2;
  position: relative;
  min-height: 100vh;
}

main{
  width: 100vw;
}

.wrapper{
  //width: #{'min(100vw, 1440px)'}; // можко та, можно менять регистр, тк цссу пох, а сассу нет
  width: Min(100vw, 1440px);
  padding: 0 40px 0 40px;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
.input,
textarea,
select{
  font-family: $font_2;
  &::placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder,
  &::-ms-input-placeholder{
    font-family: $font_2;
  }
  &[disabled]{
    background-color: $color_Concrete;
  }
  &:focus{
    outline: none;
  }
}

ul,
li{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}



