@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons/icomoon.eot?ig127o');
  src:
  url('../fonts/icons/icomoon.eot?ig127o#iefix') format('embedded-opentype'),
  url('../fonts/icons/icomoon.ttf?ig127o') format('truetype'),
  url('../fonts/icons/icomoon.woff?ig127o') format('woff'),
  url('../fonts/icons/icomoon.svg?ig127o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e909";
  transition: color .3s;
}
.icon-dd-arrow:before {
  content: "\e90c";
  transition: color .3s;
}
.icon-triangle-arrow:before {
  content: "\e903";
  transition: color .3s;
}
.icon-cart:before {
  content: "\e900";
  transition: color .3s;
}
.icon-check:before {
  content: "\e901";
  transition: color .3s;
}
.icon-cross:before {
  content: "\e902";
  transition: color .3s;
}
.icon-eye:before {
  content: "\e904";
  transition: color .3s;
}
.icon-fav-full:before {
  content: "\e905";
  transition: color .3s;
}
.icon-fav:before {
  content: "\e906";
  transition: color .3s;
}
.icon-medal:before {
  content: "\e907";
  transition: color .3s;
}
.icon-message:before {
  content: "\e908";
  transition: color .3s;
}
.icon-share:before {
  content: "\e90a";
  transition: color .3s;
}
.icon-tick:before {
  content: "\e90b";
  transition: color .3s;
}
.icon-user:before {
  content: "\e90d";
  transition: color .3s;
}
