.button{
  display: block;
  text-align: center;
  padding: 10px 15px;
  font-family: $font_2;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 18px;
  color: white;
  background-color: $color_Black;
  border-radius: 5px;
  transition: background-color .3s;
  cursor: pointer;
  font-weight: 700;
  &:hover{
    background-color: $color_MineShaft;
  }
  &.clicked{
    background-color: black;
  }
  &.disabled{
    background-color: $color_Silver;
    cursor: default;
  }

  &.button--transparent{
    border: 1px solid $color_Black;
    color: $color_Black;
    background-color: transparent;
    &:hover{
      color: $color_MineShaft;
      border-collapse: $color_MineShaft;
    }
    &.clicked{
      color: black;
      border-collor: black;
    }
    &.disabled{
      color: $color_Silver;
      border-color: $color_Silver;
    }
  }
}

.input{
  position: relative;
  font-family: $font_2;
  &__title{
    font-size: 12px;
    line-height: 24px;
    text-transform: capitalize;
  }
  &__item{
    border-radius: 5px;
    border: 1px solid $color_Black;
    padding: 12px 15px;
    width: 200px;
    color: $color_Black;
  }
  &__icon{
    position: absolute;
    width: 16px;
    font-size: 11px;
    bottom: 16px;
    right: 15px;
    color: $color_GraySuit;
    cursor: pointer;
  }
  &--password{
    .input__item{
      padding-right: 35px;
    }
  }
  &.error{
    .input__title{
      color: $color_Red;
    }
    .input__item{
      border-color: $color_Red;
      color: $color_Red;
    }
  }
}

.checkbox{
  &__label{
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    .icon-check{
      font-size: 7px;
      line-height: 14px;
      width: 16px;
      position: absolute;
      left: 0;
      top: 0;
      color: transparent;
      background-color: transparent;
      text-align: center;
      border-radius: 3px;
      border: 1px solid $color_Black;
      transition: color .3s, background-color .3s;
    }
    &.checked{
      .icon-check{
        background-color: $color_Black;
        color: white;
      }
    }
  }
}

.link{
  position: relative;
  font-family: $font_2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $color_Black;
  transition: underline .3s;
  cursor: pointer;
  padding: 5px 6px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  &:after{
    position: absolute;
    content: '';
    bottom: 0;
    height: 1px;
    width: 90%;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
  }
  &.active,
  &:hover{
    &:after{
      opacity: 1;
    }
  }
}

.default-list{
  display: flex;
  flex-direction: column;
  color: $color_Black;
  font-family: $font_2;
  font-size: 14px;
  &__title,
  &__link{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
  &__title{
    font-weight: bold;
    margin-bottom: 14px;
  }
  &__link{
    margin-bottom: 1px;
  }
  &--inverted{
    color: white;
    .link:after{
      background-color: white;
    }
  }
}

.select{
  position: relative;

  &__item{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 1px solid $color_Black;
    border-radius: 5px;
    padding: 8px 23px 8px 16px;
  }

  &__icon{
    font-size: 5px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.radio-color{
  position: relative;

  &__input{
    display: none;
  }

  &__label{
    cursor: pointer;
  }

  &__round{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border .3s;
    &.checked{
      border-color: $color_Black;
    }
    &.white-color{
      border-color: $color_Black;
      &.checked{
        border-width: 2px;
      }
    }
  }
}

.radio-size{
  position: relative;

  &__input{
    display: none;
  }

  &__label{
    cursor: pointer;
  }

  &__item{
    height: 38px;
    width: 38px;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: $color_Concrete;
    color: $color_Black;
    transition: color .3s, background-color .3s;
    &.checked{
      background-color: $color_Black;
      color: white;
    }
  }
}

.button-customized{
  display: flex;
  border: 1px solid $color_Black;
  border-radius: 5px;
  padding: 14px 15px;
  cursor: pointer;
  width: min-content;

  &__icon{
    font-size: 18px;
    margin-right: 14px;
  }

  &__text,
  &__counter{
    font-size: 16px;
    line-height: 18px;
    font-family: $font_2;
    color: $color_Black;
    white-space: nowrap;
  }
  &__counter{
    margin-left: 5px;
  }
}

.listing-item{
  width: 321px;
  height: 471px;
  padding: 22px;
  border-radius: 10px;
  transition: .3s;
  &:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  }

  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__status{
    position: relative;
    width: 95px;
    font-size: 16px;
    &-icon{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__likes{
    display: flex;
    cursor: pointer;
    &-count{
      font-size: 16px;
      line-height: 24px;
      margin-right: 7px;
    }
    &-icon{
      font-size: 24px;
      transition: color .3s;
    }
    &:hover{
      .listing-item__likes-icon{
        color: $color_Crimson;
      }
    }
  }

  &__image{
    display: flex;
    margin: 0 auto;
    width: 221px;
    height: 221px;
  }

  &__desc{
    font-size: 16px;
    line-height: 26px;
  }

  &__brand,
  &__price{
    font-weight: 700;
  }

  &__brand,
  &__type{
    cursor: pointer;
  }
}