.button{
  display: block;
  text-align: center;
  padding: 10px 15px;
  font-family: $font_2;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 18px;
  color: white;
  background-color: $color_Black;
  border-radius: 5px;
  transition: background-color .3s;
  cursor: pointer;
  font-weight: 500;
  &:hover{
    background-color: $color_MineShaft;
  }
  &.clicked{
    background-color: black;
  }
  &.disabled{
    background-color: $color_Silver;
    cursor: default;
  }

  &.button--transparent{
    border: 1px solid $color_Black;
    color: $color_Black;
    background-color: transparent;
    &:hover{
      color: $color_MineShaft;
      border-collapse: $color_MineShaft;
    }
    &.clicked{
      color: black;
      border-collor: black;
    }
    &.disabled{
      color: $color_Silver;
      border-color: $color_Silver;
    }
  }
}

.input{
  position: relative;
  font-family: $font_2;
  width: 200px;
  &__title{
    font-size: 12px;
    line-height: 24px;
    text-transform: capitalize;
  }
  &__item{
    border-radius: 5px;
    border: 1px solid $color_Black;
    padding: 12px 15px;
    width: inherit;
    color: $color_Black;
    height: inherit;
  }
  &__icon{
    position: absolute;
    width: 16px;
    font-size: 11px;
    bottom: 16px;
    right: 15px;
    color: $color_GraySuit;
    cursor: pointer;
    transition: color .3s;
  }
  &.show-password{
    .input__icon{
      color: $color_Black;
    }
  }
  &--password{
    .input__item{
      padding-right: 35px;
    }
  }
  &.error{
    .input__title{
      color: $color_Red;
    }
    .input__item{
      border-color: $color_Red;
      color: $color_Red;
    }
  }
}

.checkbox{
  &__label{
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    .icon-check{
      font-size: 7px;
      line-height: 14px;
      width: 16px;
      position: absolute;
      left: 0;
      top: 0;
      color: transparent;
      background-color: transparent;
      text-align: center;
      border-radius: 3px;
      border: 1px solid $color_Black;
      transition: color .3s, background-color .3s;
    }
    &.checked{
      .icon-check{
        background-color: $color_Black;
        color: white;
      }
    }
  }
}

.link{
  position: relative;
  font-family: $font_2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $color_Black;
  transition: underline .3s;
  cursor: pointer;
  padding: 5px 3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  &:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
  }
  &.active,
  &:hover{
    &:after{
      opacity: 1;
    }
  }
}

.default-link{
  font-family: $font_2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $color_Black;
  cursor: pointer;
  text-decoration: underline;
}

.default-list{
  display: flex;
  flex-direction: column;
  color: $color_Black;
  font-family: $font_2;
  font-size: 14px;
  &__title,
  &__link{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
  &__title{
    font-weight: bold;
    margin-bottom: 14px;
  }
  &__link{
    margin-bottom: 1px;
  }
  &--inverted{
    color: white;
    .link:after{
      background-color: white;
    }
  }
}

.select{
  position: relative;

  &__item{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 1px solid $color_Black;
    border-radius: 5px;
    padding: 8px 23px 8px 16px;
    width: inherit;
  }

  &__icon{
    font-size: 5px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.radio-color{
  position: relative;

  &__input{
    display: none;
  }

  &__label{
    cursor: pointer;
    position: relative;
  }

  &__round{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border .3s;
    &.checked{
      border-color: $color_Black;
    }
    &.white-color{
      border-color: $color_Black;
      &.checked{
        border-width: 2px;
      }
    }
    &.transparent{
      position: relative;
      &:after{
        position: absolute;
        content: '';
        height: 20px;
        width: 1px;
        background-color: $color_Black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    &.gradient{
      background-image: url("/images/color_gradient.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.radio-size{
  position: relative;

  &__input{
    display: none;
  }

  &__label{
    cursor: pointer;
  }

  &__item{
    height: 38px;
    width: 38px;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: $color_Concrete;
    color: $color_Black;
    transition: color .3s, background-color .3s;
    &.checked{
      background-color: $color_Black;
      color: white;
    }
  }
}

.button-customized{
  display: flex;
  border: 1px solid $color_Black;
  border-radius: 5px;
  padding: 14px 15px;
  cursor: pointer;
  width: min-content;

  &__icon{
    font-size: 18px;
    margin-right: 14px;
  }

  &__text,
  &__counter{
    font-size: 16px;
    line-height: 18px;
    font-family: $font_2;
    color: $color_Black;
    white-space: nowrap;
  }
  &__counter{
    margin-left: 5px;
  }
}

.listing-item{
  width: 321px;
  height: 471px;
  padding: 22px;
  border-radius: 10px;
  transition: .3s;
  &:hover{
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  }

  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__status{
    position: relative;
    width: 95px;
    font-size: 16px;
    &-icon{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__likes{
    display: flex;
    cursor: pointer;
    &-count{
      font-size: 16px;
      line-height: 24px;
      margin-right: 7px;
    }
    &-icon{
      font-size: 24px;
      transition: color .3s;
    }
    &:hover{
      .listing-item__likes-icon{
        color: $color_Crimson;
      }
    }
  }

  &__image{
    display: flex;
    margin: 0 auto;
    width: 221px;
    height: 221px;
  }

  &__desc{
    font-size: 16px;
    line-height: 26px;
    padding: 0 3px;
  }

  &__brand,
  &__price{
    font-weight: 700;
  }

  &__brand,
  &__type{
  }
}

.custom-navigation{
  display: flex;
  flex-direction: row;
  height: 53px;
  &__item{
    cursor: pointer;
    position: relative;
    margin-right: 141px;
    &:after{
      position: absolute;
      content: '';
      width: 141px;
      height: 1px;
      background-color: $color_Black;
      top: 11px;
      left: 24px;
    }
    &.active,
    &:hover{
      .custom-navigation__count{
        background-color: $color_Black;
        color: white;
      }
    }
    &:last-of-type{
      margin-right: 0px;
      &:after{
        display: none;
      }
    }
  }
  &__count{
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid $color_Black;
    background-color: white;
    color: $color_Black;
    transition: color .3s, background-color .3s;
  }
  &__name{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  &--vertical{
    flex-direction: column;
    height: unset;
    .custom-navigation{
      &__item{
        margin-right: 0px;
        margin-bottom: 60px;
        display: flex;
        &:after{
          top: 24px;
          left: 11px;
          width: 1px;
          height: 60px;
        }
      }
      &__count{
        margin-right: 10px;
      }
      &__name{
        position: unset;
        left: unset;
        transform: unset;
      }
    }
  }
}

.tooltip{
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  color: $color_Black;
  transition: max-height .3s;
  z-index: 99;
  background-color: white;
  &__item{
    padding: 3px 5px;
    border: 1px solid $color_Black;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
  }
  &-parent{
    cursor: pointer;
    &:hover{
      .tooltip{
        max-height: 50px;
      }
    }
  }
}

.paginator{
  ul{
    display: flex;
    flex-direction: row;
    li{
      margin: 0 4px;
      &.disabled{
        opacity: 0;
      }
      &.active{
        border-bottom: 1px solid $color_Black;
        color: $color_Black;
      }
      .clickable{
        cursor: pointer;
      }
    }
  }

  .page-link{
    font-family: $font_2;
    font-size: 16px;
    text-decoration: none;
    color: $color_Black;
  }
}

.user-avatar{
  height: 74px;
  width: 74px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &__img{
    display: block;
    height: 100%;
    width: 100%;
  }
  &__overlay{
    background-color: $color_Silver;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
  }

  &__btn{
    position: absolute;
    bottom: -21px;
    font-size: 10px;
    line-height: 16px;
    padding-bottom: 5px;
    color: white;
    background-color: $color_Black;
    transition: bottom .3s;
    text-align: center;
    width: 100%;
  }

  &:hover{
    .user-avatar__overlay{
      opacity: .4;
    }
    .user-avatar__btn{
      bottom: 0px;
    }
  }
}

.promo-circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  position: relative;
  &--image{
    height: 206px;
    width: 206px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__content{
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
  }
  &__link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 9;
  }
}

.bread-crumps{

  &__list{
    display: flex;
    flex-wrap: wrap;
  }

  &__item{
    padding-left: 18px;
    position: relative;
    &:first-child{
      padding-left: 3px;
      .bread-crumps__icon{
        display: none;
      }
    }
  }

  &__icon{
    position: absolute;
    font-size: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    left: 6px;
  }

  &__link{
    font-family: $font_2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: $color_Black;
  }
}